In [11]:
from langchain_core.messages import AIMessage, HumanMessage
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.runnables import RunnablePassthrough
from langchain_community.utilities import SQLDatabase
from langchain_core.output_parsers import StrOutputParser
from langchain_openai import AzureChatOpenAI

In [12]:
# Database configurations (3 databases)
DATABASES = {
    "MySQL": "mysql+pymysql://sql12754261:pDdJqzFl3b@sql12.freesqldatabase.com:3306/sql12754261",
    "PostgreSQL": "postgresql://costdb_owner:5mneLU6dIRVf@ep-fancy-feather-a1l3r3st.ap-southeast-1.aws.neon.tech/costdb?sslmode=require",
    "SQLServer": "mssql+pyodbc://@Admin/Cost_Central_Monitor?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"
}

In [13]:
db_instances = {name: SQLDatabase.from_uri(uri) for name, uri in DATABASES.items()}

In [14]:
# Get LLM model
def get_llm():
    return AzureChatOpenAI(
        azure_endpoint="https://ifd-copilot-internship-program.openai.azure.com",
        azure_deployment="gpt-4o-mini",
        api_key="",  # Remember to replace with your actual API key
        api_version="2024-08-01-preview",
        temperature=0,
        max_tokens=None,
        timeout=None,
        max_retries=2
    )

In [15]:
# Define Semantic Kernel function to select relevant databases
from semantic_kernel import Kernel
from semantic_kernel.functions.kernel_function_decorator import kernel_function

@kernel_function(name="Choose databases", description="Choose relevant databases for the query")
def select_databases(user_query, db_schemas):
    """
    This function uses the Kernel to select relevant databases for the user query.
    The result will be a list of database names.
    """
    llm = get_llm()
    schemas_context = "\n".join([f"{name}: {schema}" for name, schema in db_schemas.items()])
    
    # Cập nhật prompt để yêu cầu danh sách cơ sở dữ liệu phù hợp
    prompt = f"""
    Here are the schemas of the available databases:
    {schemas_context}

    User query: {user_query}

    Please return a comma-separated list of database names that are most relevant for the question. 
    Do not include any explanations or extra text, just the names of the databases.
    """
    
    # Truyền chuỗi vào invoke() và lấy kết quả
    result = llm.invoke(prompt)
    
    # Trả về danh sách cơ sở dữ liệu sau khi tách chuỗi
    return [db.strip() for db in result.content.strip().split(',')]

In [16]:
# SQL Chain for a specific database
def get_sql_chain(db):
    template = """
    Based on the schema, write a SQL query to answer the user's question.
    <SCHEMA>{schema}</SCHEMA>

    Question: {question}

    Write only the SQL query and nothing else. Do not wrap the SQL query in any other text, not even backticks.

    For example:
    Question: which 3 artists have the most tracks?
    SQL Query: SELECT ArtistId, COUNT(*) as track_count FROM Track GROUP BY ArtistId ORDER BY track_count DESC LIMIT 3;
    Question: Name 10 artists
    SQL Query: SELECT Name FROM Artist LIMIT 10;
    """
    prompt = ChatPromptTemplate.from_template(template)
    llm = get_llm()

    def get_schema(_):
        return db.get_table_info()

    return (
        RunnablePassthrough.assign(schema=get_schema)
        | prompt
        | llm
        | StrOutputParser()
    )

In [17]:
def process_results_with_ai(raw_results, user_query):
    llm = get_llm()
    prompt = f"Here are the results from the query: {user_query}. Format the results nicely:\n{raw_results}"

    # Gọi LLM để trả về câu SQL mà không có giải thích
    result = llm.invoke(prompt)  # Invoke trả về đối tượng AIMessage
    return result.content.strip()  # Lấy nội dung (content) của AIMessage và gọi strip()

In [18]:
# Generate SQL and query multiple databases
def query_multiple_databases_with_ai(user_query, db_instances):
    # Step 1: Get schemas from all databases
    db_schemas = {name: db.get_table_info() for name, db in db_instances.items()}

    # Step 2: Use LLM to select the most relevant databases
    selected_db_names = select_databases(user_query, db_schemas)
    
    # Step 3: Generate SQL and fetch results for each selected database
    results = []
    for db_name in selected_db_names:
        db_name = db_name.strip()
        selected_db = db_instances.get(db_name)
        if selected_db:
            schema = selected_db.get_table_info()
            sql_query = get_sql_chain(selected_db).invoke({"question": user_query})
            raw_results = selected_db.run(sql_query)
            processed_results = process_results_with_ai(raw_results, user_query)
            results.append((db_name, processed_results))
    
    return results

In [19]:
user_query = "What is the total cost per project for the current month?"
results = query_multiple_databases_with_ai(user_query, db_instances)
response = ""
for db_name, processed_results in results:
    response += f"**Database: {db_name}**\n{processed_results}\n\n"

In [20]:
selected_db = db_instances['MySQL']
sql_query = get_sql_chain(selected_db).invoke({"question": user_query})
sql_query

'SELECT fk_project_id, SUM(cost_amount) AS total_cost FROM tbl_costs WHERE MONTH(cost_date) = MONTH(CURRENT_DATE()) AND YEAR(cost_date) = YEAR(CURRENT_DATE()) GROUP BY fk_project_id;'

In [21]:
results

[('MySQL',
  'To present the results of the query regarding the total cost per project for the current month, you can format it in a table for clarity. Here’s an example of how you might structure it:\n\n| Project Name       | Total Cost ($) |\n|--------------------|-----------------|\n| Project Alpha      | 5,000           |\n| Project Beta       | 3,200           |\n| Project Gamma      | 7,500           |\n| Project Delta      | 2,800           |\n| Project Epsilon    | 4,600           |\n\n**Total Cost for Current Month: $23,100**\n\nFeel free to adjust the project names and costs according to your actual data!'),
 ('PostgreSQL',
  'To present the results of your query regarding the total cost per project for the current month, you can format it in a table for clarity. Here’s an example of how you might structure it:\n\n| Project Name       | Total Cost ($) |\n|--------------------|-----------------|\n| Project Alpha      | 5,000           |\n| Project Beta       | 3,200           |\n| Project Gamma      | 7,500           |\n| Project Delta      | 2,800           |\n| Project Epsilon    | 4,600           |\n| **Total**          | **23,100**      |\n\nFeel free to replace the project names and costs with the actual data from your query. This format makes it easy to read and understand the total costs associated with each project.'),
 ('SQLServer',
  'To present the results of the total cost per project for the current month in a clear and organized manner, you can use a table format. Here’s an example of how you might structure it:\n\n| Project Name       | Total Cost ($) |\n|--------------------|-----------------|\n| Project Alpha      | 5,000           |\n| Project Beta       | 3,200           |\n| Project Gamma      | 7,500           |\n| Project Delta      | 2,800           |\n| Project Epsilon    | 4,600           |\n| **Total**          | **23,100**      |\n\nFeel free to replace the project names and costs with the actual data from your query results. This format makes it easy to read and understand the total costs associated with each project.')]

In [22]:
response

'**Database: MySQL**\nTo present the results of the query regarding the total cost per project for the current month, you can format it in a table for clarity. Here’s an example of how you might structure it:\n\n| Project Name       | Total Cost ($) |\n|--------------------|-----------------|\n| Project Alpha      | 5,000           |\n| Project Beta       | 3,200           |\n| Project Gamma      | 7,500           |\n| Project Delta      | 2,800           |\n| Project Epsilon    | 4,600           |\n\n**Total Cost for Current Month: $23,100**\n\nFeel free to adjust the project names and costs according to your actual data!\n\n**Database: PostgreSQL**\nTo present the results of your query regarding the total cost per project for the current month, you can format it in a table for clarity. Here’s an example of how you might structure it:\n\n| Project Name       | Total Cost ($) |\n|--------------------|-----------------|\n| Project Alpha      | 5,000           |\n| Project Beta       | 3,200           |\n| Project Gamma      | 7,500           |\n| Project Delta      | 2,800           |\n| Project Epsilon    | 4,600           |\n| **Total**          | **23,100**      |\n\nFeel free to replace the project names and costs with the actual data from your query. This format makes it easy to read and understand the total costs associated with each project.\n\n**Database: SQLServer**\nTo present the results of the total cost per project for the current month in a clear and organized manner, you can use a table format. Here’s an example of how you might structure it:\n\n| Project Name       | Total Cost ($) |\n|--------------------|-----------------|\n| Project Alpha      | 5,000           |\n| Project Beta       | 3,200           |\n| Project Gamma      | 7,500           |\n| Project Delta      | 2,800           |\n| Project Epsilon    | 4,600           |\n| **Total**          | **23,100**      |\n\nFeel free to replace the project names and costs with the actual data from your query results. This format makes it easy to read and understand the total costs associated with each project.\n\n'